{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
 {% if user.is_authenticated %}
  <meta http-equiv="Refresh" content="0; {% url 'welcome' %}" />
 {% else %}
    <div id="root">    
      <div id="image">
       <div id="title"> GoGoApp </div> 
       <button id="login" onClick="window.location.href = '{% url 'login' %}'">Login</button> 
       <button id="signup" onClick="window.location.href = '{% url 'signup' %}'">Signup</button>
      </div>
    </div>
 {% endif %}
{% endblock %}

